*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*.header{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 100px;
}*/

/*.logo{
    margin-left: 3rem;
}*/

/*.btn-1{
    margin-right: 40px ;
}*/

/*.principal{
    margin-top: 100px;
}*/

/*svg{
    margin-right: 20px;
}*/

body{
    font-family: 'Open Sans', sans-serif;
}

/*flex-wrap flex-col-reverse sm:flex flex-row flex-nowrap justify-around place-items-center pb-16
flex-wrap flex-col-reverse sm:flex flex-row-reverse flex-nowrap justify-around place-items-center pt-16
flex-wrap flex-col-reverse sm:flex flex-nowrap justify-around place-items-center pt-16*/


.sect{
    display: flex;
    justify-content: space-around;
    place-items: center;
    padding-bottom: 8rem;
}

.sect-2{
    display: flex;
    justify-content: space-around;
    place-items: center;
    padding-bottom: 8rem;
    flex-direction: row-reverse;
}

#text{
    font-size: 0.8rem;
}

img{
    max-width: 100%;
}

/*@media (min-width: 375px) and (max-width: 600px) {
    header div img button{
        margin-right: 3rem;
        display: flex;
        flex-direction: column;
    }
    header div img button{
        display: block;
        margin: auto;
        
    }
}*/

.num-text{
    opacity: 0.5;
}

h1{
    font-family: 'Poppins', sans-serif;
}

.poppins{
    font-family: 'Poppins', sans-serif;
}


@media (min-width: 360px) and (max-width: 740px) {
    header{
        display: flex;
        flex-direction: column;
    }

    header, div{
        display: flex;
        flex-direction: column;
        place-items: center;
    }

    .ml-12, button{
        position: relative;
        right: 20px;
        margin-bottom: 2rem;
    }
    .place-items-center{
        position: relative;
        left: 20px;
        /*border:1px solid;*/
    }

    /*.num{
        display: flex;
        flex-direction: column;
    }*/

    /*.icon{
        display: block;
        margin: auto;
    }*/
    .num-text{
        text-align: center;
        opacity: 0.5;
    }

    .sect{
        display: flex;
        flex-direction: column-reverse;
    }

    .sect-2{
        display: flex;
        flex-direction: column-reverse;
    }

    #text{
        font-size:0.69rem
    }

}

